<app-navbar></app-navbar>
<div class="about">
  <h2>About HUT</h2>
  <p>HUT is an online platform created by third year students at CCT College Dublin as the Final Project for the Bachelor of Science in Information Technology. The initial idea for the project came up during a meeting in a Café where we were all debating what would be the project theme and final product. During the first group meetings in college, our group came up with several good ideas but what would benefit us all, as students, would be something related to Online Learning because during our last academic year, a global pandemic begins leaving Educational institutions with no option but adhere to online learning tools.</p>
</div>
