::ng-deep body #sidebar {
  margin-right: 10px;
  background-color: #d6dada;
  margin-top: 20px;
}

::ng-deep body .ui-sidebar {
  background-color: #d6dada;
}
::ng-deep body .ui-button.ui-button-icon-only {
  width: 3em;
}
::ng-deep .pi-list:before {
  color: black;
}
::ng-deep body .ui-listbox .ui-listbox-list .ui-listbox-item:focus {
  box-shadow: inset 0 0 0 0.2em #0B4768;
  background-color:  #0B4768;
}
::ng-deep body .ui-listbox .ui-listbox-list .ui-listbox-item.ui-state-highlight {
  color: #ffffff;
  background-color: #0B4768;
}

::ng-deep body .ui-listbox .ui-listbox-list .ui-listbox-item {
  background-color: #d6dada;


}
