<p-table #dt [columns]="cols" [value]="posts" [paginator]="true" [rows]="5" [responsive]="true" >
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText placeholder="What are you looking for?"
             (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 4em"></th>
      <th>Questions</th>
      <th>Posted By</th>
      <th>Subject</th>
      <th>Date</th>
    </tr>

    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <p-dropdown *ngSwitchCase="'subjects'" [options]="subjectArray"  (onChange)="dt.filter($event.value, col.field, 'equals')" styleClass="ui-column-filter"></p-dropdown>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-post >
    <tr>
      <td >
        <button title="View Details" type="button" pButton (click)="selectPost($event,post,op3)" icon="pi pi-eye"></button>
      </td>
      <td align="center">{{post.title}}</td>
      <td align="center">{{post.user.name}}</td>
      <td align="center">{{post.subjects}}</td>
      <td align="center">{{post.creationDate | date: 'dd/MM/yyyy'}}</td>
    </tr>
  </ng-template>

</p-table>

<p-overlayPanel #op3>
  <ng-template pTemplate>
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <div class="header">Author: {{selectedPost.user.name}}</div>
        <div class="header">Date: {{selectedPost.creationDate | date: 'dd/MM/yyyy'}}</div>
      </div>

      <div class="ui-toolbar-group-right">
      </div>
    </p-toolbar>
    <p-panel>
      <p-header>
        <div class="ui-helper-clearfix">
          <span class="ui-panel-title">{{selectedPost.title}}</span>
        </div>
      </p-header>
      <p>{{selectedPost.description}}</p>
    </p-panel>

    <hr>
    <button pButton type="button" (click)="showBasicDialog($event, op3)"  title="Your Answer" label="New Answer"></button>

    <p-orderList [value]="answersByPost">
      <ng-template let-answer pTemplate="item">
        <div class="ui-helper-clearfix">
          <img src="../../assets/images/userProfile.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">
        </div>

        <div style="margin-bottom:2em">Name: {{answer.user.name}}</div>

        <div>Answer: </div>
        <div>{{answer.text}}</div>

      </ng-template>
    </p-orderList>
  </ng-template>
</p-overlayPanel>

<p-dialog header="New answer" [(visible)]="display1" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <p-editor [(ngModel)]="text1"  [style]="{'height':'320px'}"> </p-editor>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="display1=false" label="Submit"></button>
    <button type="button" pButton icon="pi pi-times" (click)="display1=false" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
