<app-navbar></app-navbar>

<p-toast></p-toast>
<header >
  <h2 class="profileHeader">User Profile </h2>
</header>
<div class="p-grid nested-grid">
  <div class="p-col-4">
    <div class="box box-stretched">
      <img id="profilePic" src="../../assets/images/userProfile.png" alt="user" >
    </div>
  </div>

  <div class="p-col-8">
    <div class="p-grid">
      <form method="put" (ngSubmit)="update()" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="p-col-12">
          <span class="ui-float-label">
             <input id="float-input" pInputText formControlName="name" type="text">
              <label for="float-input">{{user.name}}</label>
          </span>
        </div>
        <div class="p-col-12">
          <span class="ui-float-label">
            <input [readOnly]="readonly" [attr.disabled]="true" placeholder="Email: {{user.email}}" pInputText formControlName="email" >
          </span>
        </div>
        <div class="p-col-12">
          <span class="ui-float-label">
            <input [readOnly]="readonly" placeholder=" Student ID: {{user.studentId}}" [attr.disabled]="true" pInputText formControlName="studentId" >
          </span>
        </div>

        <div class="p-col-12">
          <button id="update" pButton class="ui-button-success" type="submit" label="Update Profile" [disabled]="!form.touched"></button>
        </div>
      </form>
      <div class="p-col-12">
        <button pButton class="ui-button-success" label="Change Password" (click)="op1.toggle($event)"></button>
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #op1>
<ng-template pTemplate>
  <form method="put" (ngSubmit)="updatePassword()" [formGroup]="formPassword" (ngSubmit)="onSubmit(formPassword.value)">
    <div class="form-group">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ">
          <div class="ui-inputgroup">
            <input formControlName="password" class="ui-inputgroup-addon"type="password" placeholder="New Password" >
          </div>
          <div class="ui-inputgroup">
            <p-message severity="error" text="Password is required" *ngIf="!formPassword.controls['password'].valid&&formPassword.controls['password'].dirty"></p-message>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ">
          <div class="ui-inputgroup">
            <input formControlName="newPassword" class="ui-inputgroup-addon"type="password" placeholder="Confirm Password" >
          </div>
          <div class="ui-inputgroup">
            <p-message severity="error" text="Password is required" *ngIf="!formPassword.controls['newPassword'].valid&&formPassword.controls['newPassword'].dirty"></p-message>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ">
      <div class="ui-inputgroup">
        <button pButton class="ui-button-success" type="submit" label="Confirm" [disabled]="!formPassword.valid"></button>
      </div>
    </div>
  </form>
</ng-template>
</p-overlayPanel>

<footer>
  <p>@2020 HUT - Help Us Tech</p>
</footer>
