.searchBox{
  background-color: #0b4768;
  margin-top: 25px;
  padding: 20px;
  color: white;
  height: 80px;
}
textarea {
  margin: 0px;
  width:100%;
}

::ng-deep body {
  background-image: url('../../assets/images/background2.png');
  background-attachment: fixed;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

