.searchBox{
  background-color: #0b4768;
  margin-top: 25px;
  padding: 20px;
  color: white;
  height: 80px;
}
textarea {
  margin: 0px;
  width:100%;
}

.row {
  display: flex; /* equal height of the children */
}

.colPosts {
  flex: 2.5; /* additionally, equal width */
  padding: 1em;
}
.announcements{
  text-align: center;
  height: 40px;
  background-color: #0b4768;
  color: white;
  margin-bottom: 5%;
}
.colCalendar {
  flex: 1.5; /* additionally, equal width */
  padding: 1em;
  background-color: white;
  height: 5%;
}
